<%- include("./layouts/header.ejs") %>


    <div class="container">
        <h1>Login</h1>

        <% if(typeof message !=='undefined' ){ %>
            <p style="color: red;">
                <%= message %>
            </p>

            <% } %>

                <form action="" method="POST">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="email" name="email" placeholder="Enter email" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <input type="password" name="password" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <input type="submit" value="Login" class="btn-btn-info" required>
                        </div>
                    </div>
                </form>
    </div>


    <%- include("./layouts/footer.ejs") %>