<%- include("./layouts/header.ejs") %>


    <div class="container mt-5 mb-5">
        <h1>Reset Password</h1>
        <form  method="POST">    
            <input type="password" name="password" placeholder="Enter New Password" required>
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <br><br>
            <input type="submit" value="Reset" class="btn btn-info">
        </form>
    </div>


<%- include("./layouts/footer.ejs") %>